@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,300);
@import url('style-medium.css');
@import url('style-small.css');
@import url('style-xsmall.css');
/* Basica */

html, body, div, img,span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
        width: 100%;
        width: auto;
        height: auto;
        font-family: 'Open Sans', italic;
        font-weight: 300;
        color: #66684a;
}
    
    ol, ul {
		list-style: none;
	}    


h1,h2, h3, p {
    font-family: 'Open Sans', sans-serif;
    color: #66684a;
    font-size: 40px;
    line-height: 51px;
    font-weight: 300;
    letter-spacing: 4px;
}


    a,span {
        letter-spacing: 3px;
        text-transform: none;  
        font-family: 'Open Sans', sans-serif;
        color: white;
        font-size: 18px;
        text-align: center;
        line-height: 51px;
        font-weight: 400;
        letter-spacing: 1px;
    }

	body {
		background-image:  -moz-linear-gradient(rgba(127, 186, 17, 0.2), rgba(127, 186, 17, 0.2)), url(../img/banner/img-body-3.jpg);
		background-image:  -webkit-linear-gradient(rgba(127, 186, 17, 0.2), rgba(127, 186, 17, 0.2)), url(../img/banner/img-body-3.jpg); 
		background-image:  -ms-linear-gradient(rgba(127, 186, 17, 0.2), rgba(127, 186, 17, 0.2)), url(../img/banner/img-body-3.jpg);
		background-image: linear-gradient(rgba(127, 186, 17, 0.2), rgba(127, 186, 17, 0.2)), url(../img/banner/img-body-3.jpg);
        background-position: center;
        background-size:auto,cover;
        background-attachment: scroll, fixed;
       overflow-x: hidden;
	}

#banner{
    position: relative;
    display: block;
    overflow-x: hidden;
    width: 100%;
    height: 680px;
    max-height: 100%;
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;
    margin: auto;
    background-image: -webkit-linear-gradient(rgba(127, 186, 17, 0.2), rgba(127, 186, 17, 0.2));
    background-image: linear-gradient(rgba(127, 186, 17, 0.2), rgba(127, 186, 17, 0.2));
    font-family: 'Open Sans', sans-serif;
}
   /* menu de la aplicación */ 
    .navbar-default{
        background-color: transparent;
        position: static;
        display: block;
        width: 88%;
        margin-left: auto;
        margin-right:auto;
        border-radius: 0px;
        border: 0;
    }

        a.navbar-brand i.logo {
            text-align: left;
            float: left;
            margin: 0px;
            background-image: url(../img/icon/img-logo.png);
            width: 50px;
            height: 50px;
        }
           a.navbar-brand i.logo span {
                font-size: 25px;
                margin-left: 2.5em;
                font-style: normal;
            }

        ul.navbar-right li {
            width: 200px;
            text-align: center;
            display: inline-block;
        }  
            ul.navbar-right > li > a {
                background-color: transparent;
                height: 60px;
                padding-top: 5px;
                padding-bottom: 0px;
                display: inline-block;
            } 

                ul.navbar-right  li  a:hover {
                    cursor: pointer;
                    border-bottom: 1px solid white;
                }

                /* */            
                ul.navbar-right > li a i{
                   width: 20px;
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                   height: 20px; 
                }

                    ul.navbar-right > li a i.ico-ins ,  ul.navbar-right > li a i.ico-mon , ul.navbar-right > li a i.ico-pro {
                        text-align: left;
                        float: left;
                        margin-top: 0.9em;
                    } 
                     ul.navbar-right > li a >  span  {
                        height: auto;
                        float: left;
                        margin:0 0.9em;
                        padding: 0;
                    }

                     i.ico-ins{
                        background-image: url(../img/icon/magnifier13.png);
                    }

                    i.ico-mon{
                        background-image: url(../img/icon/list-1.png);
                    }

                     i.ico-pro{
                        background-image: url(../img/icon/data66.png);
                    }


    #banner header {
        width: 88%;
        padding-top: 184px;
        margin: 0 auto;
    }    

    #banner header h2, #banner header p {
        font-family: 'Open Sans', sans-serif;
        color: white;
        font-weight: 300;
        text-align: left;
        padding-right: 600px;
    }
        #banner header h2{
            margin-top: -30px;
            margin-left: 0px;
            padding-left: 0px;
            font-family: 'Open Sans', sans-serif;
            color: white;
            font-size: 40px;
            text-align: left;
            line-height: 51px;
            font-weight: 300;
            letter-spacing: 4px;
            text-transform: uppercase;
        }

        #banner header p{
            height: 100%;
            margin-top: 0px;
            margin-bottom: 30px;
            padding-top: 50px;
            font-family: 'Open Sans', sans-serif;
            color: white;
            font-size: 20px;
            font-style: italic;
            font-weight: 300;
            text-align: left;
            letter-spacing: 3px;
        }
/**/
.envoltura {
		padding:2em 2em 0 2em ;
    margin: 0;
	}

article.margin-top{
    margin-top: 2.5em;
}
        
        .envoltura.light-grayish-blue{
           background-color:#dcdee0 ;
		}

        .envoltura.dark-grayish-green{
           background-color:#a4b29b;
		}
            
            .envoltura.light-grayish-blue header, .envoltura.dark-grayish-green header {     
                margin-top: 2em;
            }
                
            .envoltura.dark-grayish-green header.sub-title  {
                text-align: center;
                font-size: 35px;
                text-transform:inherit;
            }
            
.envoltura.dark-grayish-green header.sub-title  h2{
    color:#66684a;
}

            .envoltura.dark-grayish-green h4.text-h4 {
                    text-align: left;
                    font-size: 20px;
                    text-transform:inherit;
            }

            .envoltura.light-grayish-blue div.row header h2, .envoltura.dark-grayish-green div.row header h2 {     
                font-size: 30px;
                margin: 0px;
            }
/*i.desktop{
    width:700px;
    height:450px;
    display: block;
    background-image:url(/img/icon/CinemaMac.png) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 2em 0;
}*/
           div.row section  i.img-moni{
                width:700px;
                height:400px;
                background-image: url(../img/icon/monitoreo.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                margin: 2em 0;    
                border-radius: 5px;
            }
           div.row section i.img-pro{
                background-image: url(../img/icon/Reporte.png);
                display:block;
                width: 700px;
                height:350px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                text-align: center;
                margin: 0;
            }                

div.row section i.img-cam, div.row section i.img-moni, div.row section  i.img-rep {
    padding: 0;
    margin: 0;
    margin: 0 auto;
   /* border: 1px solid black;*/
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

        i.img-cam.prim{
            background-image: url(../img/icon/descarga.png);
            width: 350px;
            height: 500px;
        }
        i.img-cam.secon{
            position: absolute;
            top: 80px;
            left: 350px;
            right: 0;
            bottom: 0;
            background-image: url(../img/icon/descarga.png);
            width: 300px;
            height: 400px;
            z-index: -1;
        }

        i.img-cam.ter{
            position: absolute;
            top: 80px;
            left: 0;
            right: 350px;
            bottom: 0;
            background-image: url(../img/icon/descarga.png);
            width: 300px;
            height: 400px;
            z-index: -2;
        }


            
/**/

    div.row .box-cli{
        border-radius: 4px;
        border: 2px solid #dcdee0;
        margin-top: 3em;
        margin-bottom: 3em; 
        padding: 1.5em;
        text-align: center;
    }
    .box div.cont-img{
            width:100%;
            height: 200px;
            padding: 0;
            margin: 0;
        }
            
            .box img.img, .box-cli img.img {
                    width: 100px;
                    height: 60px;
                    border-radius: 0%;
            }  

                    

                .box div.cont-img i.img-moni,.box div.cont-img i.img-ttp,.box div.cont-img i.img-rep{
                    display:block;
                    width: 100%;
                    height: 100px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    text-align: center;
                    margin: 0;
                }
                        

.icon-img{
        width: 40px;
        height: 40px;
        margin-right: auto;
        margin-left: auto;
        padding-top: 8px;
        padding-bottom: ;
       /* border: 2px solid  #dcdee0;*/
        border-radius: 100%;
        text-align: center;
        background-color: #66684a;
        /*box-shadow: rgba(127, 186, 17, 0.87) 0px 0px 0px 1px;*/
    }

         i.map,  i.email, i.phone, i.github,  i.fac, i.tw, i.logo {
            display:inline-block;
            width:20px;
            height:20px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            text-align: center;

        }

 .center-obj{
    width: 15%;
    text-align: center;
    margin: 0 auto;
}
    .center-obj ul {
        margin-top: 1em;
    }
     .center-obj ul > li  {
            display: inline-block;
            margin-left: 2px;
            width: 40px;
            height: 40px;
        }

            h4.text-h4 {
                width:100%; 
                padding-top: 0.50em;
            }

            i.map{
                background-image: url(../img/icon/pin56.png);
            }

            i.email{
                background-image: url(../img/icon/email5.png);
            }

            i.phone{
                background-image: url(../img/icon/telephone5.png);
            }

            i.github{
                background-image: url(../img/icon/github.png);
                width: 40px;
                height: 40px;
            }

            i.fac{
                background-image: url(../img/icon/facebook2.png);
                width: 40px;
                height: 40px;
            }

            i.tw{
                background-image: url(../img/icon/twitter.png);
                width: 40px;
                height: 40px;
            }

span.liena{
    display: block;
    z-index: 0;
    border-bottom: 2px solid  #66684a;
    width: 100%;
    height: 2px;
    margin: 2em;
}
    
/* text */
input[type="text"],
input[type="email"],
textarea{
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    font-size: 14px;
    margin:  10px auto;
    line-height: 1.42857143;
    color:#dcdee0;;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid  #dcdee0;;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
}
textarea{
    height: 66px;
}

/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		width: 140px;
        height: 40px;
        margin-right: auto;
        margin-left: auto;
        border: 1px solid #66684a;
        border-radius: 5px;
        background-color: #f8f8f8;
        font-family: 'Open Sans', sans-serif;
        color:#66684a;
	}

		input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover,
		button:hover,
		.button:hover {
			border-color: #66684a ;
            background-color: #66684a ;
			color: #f8f8f8 ;
		}

		input[type="submit"].icon,
		input[type="reset"].icon,
		input[type="button"].icon,
		button.icon,
		.button.icon {
			padding-left: 1.35em;
		}

			input[type="submit"].icon:before,
			input[type="reset"].icon:before,
			input[type="button"].icon:before,
			button.icon:before,
			.button.icon:before {
				margin-right: 0.5em;
			}

		input[type="submit"].fit,
		input[type="reset"].fit,
		input[type="button"].fit,
		button.fit,
		.button.fit {
			display: block;
			width: 100%;
			margin: 0 0 0.75em 0;
		}

		input[type="submit"].small,
		input[type="reset"].small,
		input[type="button"].small,
		button.small,
		.button.small {
			font-size: 0.8em;
		}

		input[type="submit"].big,
		input[type="reset"].big,
		input[type="button"].big,
		button.big,
		.button.big {
			font-size: 1.35em;
		}

		input[type="submit"].disabled, input[type="submit"]:disabled,
		input[type="reset"].disabled,
		input[type="reset"]:disabled,
		input[type="button"].disabled,
		input[type="button"]:disabled,
		button.disabled,
		button:disabled,
		.button.disabled,
		.button:disabled {
			-moz-pointer-events: none;
			-webkit-pointer-events: none;
			-ms-pointer-events: none;
			pointer-events: none;
			opacity: 0.5;
    }

/* Small devices (tablets,  and up) */
@media (max-width:768px) { 
    
   #banner header h2{
       margin-top: -20%;
            padding-right: 0px;
            font-size: 25px !important;
        }
    #banner header p{
            padding-right:0px;
            font-size: 14px !important;
            text-align:center !important;
        }
        
    .navbar-default{
        width: 100%;
       
    }
    a.navbar-brand {
        width: 100%;
        margin-bottom: 2%;
    }
        a.navbar-brand i.logo {
            text-align: center;            
            background-image: url(../img/icon/img-logo.png);
            width: 40px;
            height: 40px;
        }
    ul.nav.navbar-nav.navbar-right{
        display: none;
    }
    
    .envoltura.style-while header h2{ 
                font-size: 25px !important;
		    }
    .box h2{
            font-size:20px !important;
        }
    .box p{
        text-align: justify;
        letter-spacing:1px;
    }
    div.row .box  {
        height: 350px; 
    } 
    
    div.row .box-cli{
        width:100% !important;
        margin: 1em auto;
    }
    
.center-obj{
    width: 100%;
}
    .center-obj ul {
        margin-top: 1em;
    }
     .center-obj ul > li  {
            display: inline-block;
            margin-left: 2px;
            width: 40px;
            height: 40px;
        }
    
    button:hover {
        border-radius: 5px;
        background-color: white !important;
        color: rgba(127, 186, 17, 0.87) !important;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (max-width:992px) { 
  #banner header h2{
            font-size: 35px;
        }
    #banner header p{
            padding-right:0px;
            font-size: 20px;
        }
    .envoltura.style-while header h2{ 
                font-size: 35px;
		    } 
    div.row .box  {
        height: 400px;
    }
    .box h2, .box p{
           padding-top: 2%;
           text-align: center !important; 
        }
    .box p{
           padding-top: 2%;
        }
    
    div.row .box-cli{
        width:50%;
        margin: 1em auto;
    }
}            
            