/*480px*/

@media only screen and (max-width:500px) {
    
    #banner header h2{
            width: 100%;
           margin-top: -20% !important;
           padding-right: 0px !important;
           font-size: 20px !important;
    }
    
        i.img-cam.prim{
            background-image: url(/img/icon/descarga.png);
            width: 350px;
            height: 500px;
        }
    
        i.img-cam.secon{
            display: none !important;
        }

        i.img-cam.ter{
            display: none !important;
        } 
      
    img.img-moni {
         margin: 1.5em 0;
         width:100% !important;
         height: 200px !important;
    }
    
    i.img-cam.prim {
            width: 100% !important;
            height: 300px !important;
        }    
    i.img-cam.secon{
            display: none !impotant;
        }

        i.img-cam.ter{
            display: none !impotant;
        }
    
    
        img.img-pro{
            width: 100% !important;
            height:200px !important;
        }
    
         i.img-cam.secon{
            display: none !impotant;
        }

        i.img-cam.ter{
            display: none !impotant;
        }
        
}