@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,300);
/* Basica */

html, body, div, img,span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
        width: auto;
        height: auto;
        font-family: 'Open Sans', italic;
        font-weight: 300;
	}
    
    ol, ul {
		list-style: none;
	}
    
    a,span {
        letter-spacing: 3px;
        text-transform: none;  
        font-family: 'Open Sans', sans-serif;
        color: white;
        font-size: 18px;
        text-align: center;
        line-height: 51px;
        font-weight: 400;
        letter-spacing: 1px;
    }

	body {
		background-image:  -moz-linear-gradient(rgba(127, 186, 17, 0.2), rgba(127, 186, 17, 0.2)), url(../img/banner/body.jpg);
		background-image:  -webkit-linear-gradient(rgba(127, 186, 17, 0.2), rgba(127, 186, 17, 0.2)), url(../img/banner/body.jpg); 
		background-image:  -ms-linear-gradient(rgba(127, 186, 17, 0.2), rgba(127, 186, 17, 0.2)), url(../img/banner/body.jpg);
		background-image: linear-bodygba(127, 186, 17, 0.2), rgba(127, 186, 17, 0.2)),url(../img/banner/body.jpg);
        background-position: center;
        background-size: auto, cover;
        background-attachment: scroll, fixed;
       overflow-x: hidden;
	}
/* */



/**/
#banner{
    position: relative;
    display: block;
    overflow-x: hidden;
    width: 100%;
    height: 650px;
    max-height: 100%;
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;
    margin: auto;
    background-image: -webkit-linear-gradient(rgba(127, 186, 17, 0.2), rgba(127, 186, 17, 0.2));
    background-image: linear-gradient(rgba(127, 186, 17, 0.2), rgba(127, 186, 17, 0.2));
    font-family: 'Open Sans', sans-serif;
}
   /* menu de la aplicación */ 
    .navbar-default{
        background-color: transparent;
        position: static;
        display: block;
        width: 70%;
        margin-left: auto;
        margin-right:auto;
        border-radius: 0px;
        border: 0;
    }

        a.navbar-brand i.logo {
            text-align: center;
            background-image: url(../img/icon/img-logo.png);
            width: 50px;
            height: 50px;
        }
            
            a.navbar-brand i.logo span {
                font-size: 20px;
                margin-left: 2.5em;
                font-style: normal;
            }
    
    div.navbar-collapse ul.navbar-right li {
        text-align: center;
       /* border: 1px solid white;*/
        /*border-radius: 5px;*/
    }  
        div.navbar-collapse ul.navbar-right li a {
            font-size: 20px;
        } 
        
          div.navbar-collapse ul.navbar-right li a:hover {
              font-size: 20px;
              border-bottom: 1px solid white;
              border-right: 1px solid white;
              border-left: 1px solid white;
          } 

    #banner header {
        width: 80%;
        padding-top: 184px;
        margin: 0 auto;
    }    

    #banner header h2, #banner header p {
        font-family: 'Open Sans', sans-serif;
        color: white;
        font-weight: 300;
        text-align: center;
    }
        #banner header h2{
            margin-top: -10px;
            margin-left: 0px;
            padding-right: 394px;
            padding-left: 0px;
            font-family: 'Open Sans', sans-serif;
            color: white;
            font-size: 40px;
            text-align: center;
            line-height: 51px;
            font-weight: 300;
            letter-spacing: 4px;
            text-transform: uppercase;
        }

        #banner header p{
            height: 100%;
            margin-top: 0px;
            margin-bottom: 30px;
            padding-top: 50px;
            padding-right: 393px;
            font-family: 'Open Sans', sans-serif;
            color: white;
            font-size: 20px;
            font-style: italic;
            font-weight: 300;
            text-align: left;
            letter-spacing: 3px;
        }
/**/
.envoltura {
		padding: 2em 0em 4em;
        margin-bottom: 5em;
	}
        
        .envoltura.style-while {
           border-top:  5px solid rgba(127, 186, 17, 0.87);
           background-color:#ffffff;
           border-bottom: 5px solid rgba(127, 186, 17, 0.87);
		}
            
            .envoltura.style-while header, .envoltura.style-blue header {     
                margin-top: 3em;
                margin-bottom:3em;
            }

            .envoltura.style-while header h2{ 
                color: #262626;
                font-size: 35px;
                font-style: normal;
                font-weight: 300;
                text-align: center;
                letter-spacing: 3px;
                text-decoration: none;
		    }
                
            .envoltura.style-while.noting-margin{
                margin-bottom: 0;
                background-image:url(../img/banner/map-image.png);
                background-position: center;
                background-size:contain;
                background-repeat: no-repeat;
            }    
                .envoltura.style-while.noting-margin header h2 { 
                color: #262626;
                font-size: 35px;
                font-style: normal;
                font-weight: 300;
                text-align: center;
                letter-spacing: 3px;
                text-decoration: none;
		    }

div.row .box  {
    border-radius: 4px;
    border: 2px solid rgba(127, 186, 17, 0.87);
    margin-bottom: 2em;
    margin-top: 2em;
    padding: 1.5em;
    height: 350px;
    text-align: center;
} 
    div.row .box-cli{
        border-radius: 4px;
        border: 2px solid rgba(127, 186, 17, 0.87);
        margin-top: 3em;
        margin-bottom: 3em;
        padding: 1.5em;
        text-align: center;
    }
    .box div.cont-img{
            width: 83px;
            height: 83px;
            margin-right: auto;
            margin-left: auto;
            padding-top: 10px;
            padding-bottom: 10px;
            border: 10px solid white;
            border-radius: 100%;
            background-color: rgba(127, 186, 17, 0.87);
            box-shadow: rgba(127, 186, 17, 0.87) 0px 0px 0px 1px;
        }
            
            .box img.img, .box-cli img.img {
                    width: 100px;
                    height: 60px;
                    border-radius: 0%;
            }    
                .box img.img.mod-width, .box-cli img.img.mod-width {
                    width:250px;
                }
    .box h2{
            margin-top: 15px;
            font-size: 20px;
            margin-top: 2em;
            letter-spacing: 3px;
            text-transform: none;  
            margin-bottom: 10px;
            font-family: 'Open Sans', sans-serif;
            color: #2e2e2e;
        }
    .box p{
        text-align: justify;
        letter-spacing:1px;
    }

/* iconos */


.margin-top{
    margin-top: 2em;
}

    .icon-img{
        width: 40px;
        height: 40px;
        margin-right: auto;
        margin-left: auto;
        padding-top: 7px;
        padding-bottom: ;
        border: 2px solid white;
        border-radius: 100%;
        text-align: center;
        background-color: rgba(127, 186, 17, 0.87);
        /*box-shadow: rgba(127, 186, 17, 0.87) 0px 0px 0px 1px;*/
    }

         i.map,  i.email, i.phone, i.github,  i.fac, i.tw, i.logo {
            display:inline-block;
            width:20px;
            height:20px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            text-align: center;

        }

.center-obj{
    width: 15%;
    text-align: center;
    margin: 0 auto;
}
    .center-obj ul {
        margin-top: 1em;
    }
     .center-obj ul > li  {
            display: inline-block;
            margin-left: 2px;
            width: 40px;
            height: 40px;
        }

            h4.text-h4 {
                width:100%;
                padding-top: 0.50em;
            }

            i.map{
                background-image: url(../img/icon/pin56.png);
            }

            i.email{
                background-image: url(../img/icon/email5.png);
            }

            i.phone{
                background-image: url(../img/icon/telephone5.png);
            }

            i.github{
                background-image: url(../img/icon/github.png);
                width: 40px;
                height: 40px;
            }

            i.fac{
                background-image: url(../img/icon/facebook2.png);
                width: 40px;
                height: 40px;
            }

            i.tw{
                background-image: url(../img/icon/twitter.png);
                width: 40px;
                height: 40px;
            }

/*+-----------------------------------------------------------------------------------------------------------------------------------+*/

/* text */
input[type="text"],
input[type="email"],
textarea{
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    font-size: 14px;
    margin:  10px auto;
    line-height: 1.42857143;
    color: #333333;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid rgba(127, 186, 17, 0.87);
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
}
textarea{
    height: 66px;
}

/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		width: 140px;
        height: 40px;
        margin-right: auto;
        margin-left: auto;
        border: 1px solid rgba(127, 186, 17, 0.87);
        border-radius: 5px;
        background-color: #f8f8f8;
        font-family: 'Open Sans', sans-serif;
        color: rgba(127, 186, 17, 0.87);
	}

		input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover,
		button:hover,
		.button:hover {
			border-color: rgba(127, 186, 17, 0.87) ;
            background-color:  rgba(127, 186, 17, 0.87) ;
			color: #f8f8f8 ;
		}

		input[type="submit"].icon,
		input[type="reset"].icon,
		input[type="button"].icon,
		button.icon,
		.button.icon {
			padding-left: 1.35em;
		}

			input[type="submit"].icon:before,
			input[type="reset"].icon:before,
			input[type="button"].icon:before,
			button.icon:before,
			.button.icon:before {
				margin-right: 0.5em;
			}

		input[type="submit"].fit,
		input[type="reset"].fit,
		input[type="button"].fit,
		button.fit,
		.button.fit {
			display: block;
			width: 100%;
			margin: 0 0 0.75em 0;
		}

		input[type="submit"].small,
		input[type="reset"].small,
		input[type="button"].small,
		button.small,
		.button.small {
			font-size: 0.8em;
		}

		input[type="submit"].big,
		input[type="reset"].big,
		input[type="button"].big,
		button.big,
		.button.big {
			font-size: 1.35em;
		}

		input[type="submit"].disabled, input[type="submit"]:disabled,
		input[type="reset"].disabled,
		input[type="reset"]:disabled,
		input[type="button"].disabled,
		input[type="button"]:disabled,
		button.disabled,
		button:disabled,
		.button.disabled,
		.button:disabled {
			-moz-pointer-events: none;
			-webkit-pointer-events: none;
			-ms-pointer-events: none;
			pointer-events: none;
			opacity: 0.5;
    }

/* Small devices (tablets,  and up) */
@media (max-width:768px) { 
    
   #banner header h2{
       margin-top: -20%;
            padding-right: 0px;
            font-size: 25px !important;
        }
    #banner header p{
            padding-right:0px;
            font-size: 14px !important;
            text-align:center !important;
        }
        
    .navbar-default{
        width: 100%;
       
    }
    a.navbar-brand {
        width: 100%;
        margin-bottom: 2%;
    }
        a.navbar-brand i.logo {
            text-align: center;            
            background-image: url(../img/icon/img-logo.png);
            width: 40px;
            height: 40px;
        }
    .navbar-toggle{
        width: 97%;
        margin: 5px;
        background: white;
    }
     
    .navbar-toggle:active{
        background: white;
    }
    div.navbar-collapse ul.navbar-right li {
        text-align: center;
        width: 95%;
        margin: 5px;
        border: 1px solid white;
        border-radius: 5px;
    }  
        div.navbar-collapse ul.navbar-right li a {
            font-size: 20px;
        } 
        
          div.navbar-collapse ul.navbar-right li a:hover {
              font-size: 20px;
               border: 0;
               background: white;
              color:  rgba(127, 186, 17, 0.87) !important;
          } 
    
    .envoltura.style-while header h2{ 
                font-size: 30px;
		    }
    .box h2{
            font-size: 20px;
        }
    .box p{
        text-align: justify;
        letter-spacing:1px;
    }
    div.row .box  {
        height: 350px;
        
    } 
    
.center-obj{
    width: 100%;
}
    .center-obj ul {
        margin-top: 1em;
    }
     .center-obj ul > li  {
            display: inline-block;
            margin-left: 2px;
            width: 40px;
            height: 40px;
        }
    
    button:hover {
        border-radius: 5px;
        background-color: white !important;
        color: rgba(127, 186, 17, 0.87) !important;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (max-width:992px) { 
  #banner header h2{
            font-size: 35px;
        }
    #banner header p{
            padding-right:0px;
            font-size: 20px;
        }
    .envoltura.style-while header h2{ 
                font-size: 35px;
		    } 
    div.row .box  {
        height: 350px;
        
    }
    
}

/* Large devices (large desktops, 1200px and up) 
@media (max-width:1200px) {
    
}*/